/* Write your CSS here */
.course-title-duration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.course-title {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}
.duration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    margin-left: 4px;
}
.course-description {
    color: #1e293b;
    font-family: "Roboto";
    font-size: 12px;
    margin-top: 0px;
}
.course-tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.course-tag-item {
    list-style-type: none;
}
course-tag {
    color: #25262c;
    background-color: #e2e8f0;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 500;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}
@media (min-width: 768px) {
    .course-title-duration-container {
        flex-direction: row;
        align-items: center;
    }
    .course-title {
        font-size: 25px;
    }
    .duration {
        font-size: 14px;
    }
    .course-description {
        font-size: 16px;
    }
    .course-tag {
        font-size: 12px;
        font-weight: 600;
    }
}